{
  "definition": {
    "x-amazon-apigateway-integration": {
      "httpMethod": "POST",
      "type": "aws_proxy",
      "uri": {
        "Fn::Sub": "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${${Environment}-{{ lambda_name }}.Arn}/invocations"
      }
    },
    "responses": {}
  },
  "options": {
    "x-amazon-apigateway-integration": {
      "type": "mock",
      "requestTemplates": {
        "application/json": "{\"statusCode\": 200}"
      },
      "responses": {
        "default": {
          "statusCode": 200,
          "responseParameters": {
            "method.response.header.Access-Control-Allow-Methods": "'GET,POST,OPTIONS'",
            "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'",
            "method.response.header.Access-Control-Allow-Origin": "'*'"
          }
        }
      }
    },
    "responses": {
      "200": {
        "description": "Default OPTIONS response",
        "headers": {
          "Access-Control-Allow-Methods": {
            "type": "string"
          },
          "Access-Control-Allow-Headers": {
            "type": "string"
          },
          "Access-Control-Allow-Origin": {
            "type": "string"
          }
        }
      }
    }
  }
}
